<div class='gv-slice gv-head-slice standy-bg-img'>
    <div class="gv-inner gv-head-inner">
        <div class="gv-inner-content gv-standfirst">
            <h4>{{{tagheadline}}}</h4>
            <h1>{{{headline}}}</h1>
            <p>{{{standfirst}}}</p>
        </div>
    </div>
</div>
<div class='gv-slice nav-step-one'>
    <div class="gv-inner ">
        <div class="gv-inner-content nav-one-inner">
            <h5>{{{navOneTitle}}}</h5>
            <ul class="gv-nav-list">
                {{#navsOne}}
                <li class="nav-one-item unselected">
                    <a href="#{{{hed}}}">{{{hed}}}<span class="gv-nav-list-note">{{{copy}}}</span></a>
                </li>
                {{/navsOne}}
            </ul>
        </div>
    </div>
</div>
<div class='gv-slice nav-step-two'>
    <div class="gv-inner">
        <div class="gv-inner-content">
            <h5>{{{navTwoTitle}}}</h5>
            <ul class="gv-nav-list gv-nav-list-two">
                {{#navsTwo}}
                <li class="nav-one-item unselected"><a href="#{{{hed}}}">{{{hed}}}<span class="gv-nav-list-note">{{{copy}}}</span></a></li>
                {{/navsTwo}}
            </ul>
        </div>
    </div>
</div>
<div class='gv-slice'>
    <div class="gv-inner gv-cards-wrapper">
        <div class="gv-inner-content">
            <h5>{{{cardsTitle}}}</h5>
            <div class="gv-cards-holder">
                {{#cards}}
                <div class="gv-card">
                    <div class="gv-card-left">
                        <h4>{{{hed}}}</h4></div>
                    <div class="gv-card-main">
                        <div class="gv-read-less active" div-data="{{{hed}}}">
                            <h6>Pros</h6>
                            <ul>
                                {{#pros}}
                                <li><span class="bullet">•</span>{{{.}}}</li> {{/pros}}
                            </ul>
                            <h6>Cons</h6>
                            <ul>
                                {{#cons}}
                                <li><span class="bullet">•</span>{{{.}}}</li> {{/cons}}
                            </ul>
                        </div>
                        <div class="gv-read-more inactive" div-data="{{{hed}}}">
                            {{{readMoreCopy}}}
                        </div>
                        <div class="gv-read-more-btn show-more" nav-data="{{{hed}}}">
                            read more
                        </div>
                    </div>
                </div>
                {{/cards}}
            </div>
        </div>
    </div>
</div>