<div class="page-wrapper">

<div class='gv-slice gv-head-slice'>
    <div class="gv-inner gv-head-inner">

       
        <div class="gv-img-holder active-none-mobile">

                    <!-- <div class="head-slice head-slice-1">
                        <img src="<%= path %>/assets/slices-opt/cols_01.png" width="131" height="800" alt=""></td>
                    </div>
                    <div class="head-slice head-slice-2">
                        <img src="<%= path %>/assets/slices-opt/cols_02.png" width="354" height="800" alt="">
                    </div>
                    <div class="head-slice head-slice-3">
                        <img src="<%= path %>/assets/slices-opt/cols_03.png" width="404" height="800" alt="">
                    </div>
                    <div class="head-slice head-slice-4">
                        <img src="<%= path %>/assets/slices-opt/cols_04.png" width="323" height="800" alt="">
                    </div>
                    <div class="head-slice head-slice-5">
                        <img src="<%= path %>/assets/slices-opt/cols_05.png" width="88" height="800" alt="">
                    </div> -->
            
        </div>
        <div class='header-bg-img'>

        </div>    

       

        <div class="gv-inner-content gv-standfirst">
             <div class="eyes">
            <div class="target" id="securedrop-eyes-target"></div>
            <div class="eye">
            <div class="outside">
            <svg width="25" height="16" viewBox="13 5 25 16" xmlns="http://www.w3.org/2000/svg">
            <path d="M25.5 5C32.05 5 38 12.33 38 12.33v1.34S32.03 21 25.5 21 13 13.67 13 13.67v-1.34S18.95 5 25.5 5z" fill="#FFFFFF" fill-rule="evenodd"></path>
            </svg>
            </div>
            <div class="inside left" style="left: 51%; top: -12%;">
            <svg width="10" height="10" viewBox="21 7 10 10" xmlns="http://www.w3.org/2000/svg">
            <circle fill="#121212" fill-rule="evenodd" cx="26" cy="12" r="5"></circle>
            </svg>
            </div>
            </div>
            <div class="eye">
            <div class="outside">
            <svg width="25" height="16" viewBox="13 5 25 16" xmlns="http://www.w3.org/2000/svg">
            <path d="M25.5 5C32.05 5 38 12.33 38 12.33v1.34S32.03 21 25.5 21 13 13.67 13 13.67v-1.34S18.95 5 25.5 5z" fill="#FFFFFF" fill-rule="evenodd"></path>
            </svg>
            </div>
            <div class="inside right" style="left: 51%; top: -12%;">
            <svg width="10" height="10" viewBox="21 7 10 10" xmlns="http://www.w3.org/2000/svg">
            <circle fill="#121212" fill-rule="evenodd" cx="26" cy="12" r="5"></circle>
            </svg>
            </div>
            </div>
        </div>

            <!-- <h4 style="padding-bottom:0">{{{tagheadline}}}</h4> -->
            <div class="headline-wrapper">
                <div class="gv-head-title" str-data="{{{headline}}}">How to contact the guardian securely</div>
            </div>
            <div class="standy-wrapper">
            <p>{{{standfirst}}}</p>
            </div>
        </div>

         <div class="share-buttons">
            <div class="breaker breaker--short"></div>
            <div class="breaker breaker--short"></div>
            <div class="breaker breaker--short"></div>
            <div class="breaker breaker--short"></div>
            <a href="https://www.facebook.com/dialog/share?app_id=180444840287&amp;href=https://gu.com/p/836p6?CMP=share_btn_fb" target="_blank" title="Facebook"> <img src="<%= path %>/assets/facebook.png" alt=""> </a>
            <a href="https://twitter.com/intent/tweet?text=Winter%20Olympics%3A%20latest%20medal%20table%20for%20Pyeongchang%202018&amp;url=https://gu.com/p/836p6?CMP=share_btn_tw" target="_blank" title="Twitter"> <img src="<%= path %>/assets/twitter.png" alt=""> </a>
            <a href="https://mail.google.com/mail/u/0/?view=cm&amp;fs=1&amp;tf=1&amp;source=mailto&amp;su=Winter%20Olympics%3A%20latest%20medal%20table%20for%20Pyeongchang%202018&amp;body=href=https://gu.com/p/836p6" target="_blank" title="Email"> <img src="<%= path %>/assets/email.png" alt=""> </a>
        </div>



    </div>
</div>

<div class="breaker"></div>
<div class="breaker"></div>
<div class="breaker"></div>
<div class="breaker"></div>


<div class='gv-slice nav-step-one'>
    <div class="gv-inner ">
        <div class="gv-inner-content nav-one-inner">
            <h5 id="navOneTitle" str="{{{navOneTitle}}}" class="section-header">&nbsp;</h5>
            <ul class="gv-nav-list">
                {{#navsOne}}
                <li class="nav-zero-item nav-one-item unselected opacity-low" list-ref="{{{hed}}}" nav-level="L1">
                    <div class="gv-nav-list-item">{{{hedCopy}}}<span class="gv-nav-list-note">{{{copy}}}</span></div>
                </li>
                {{/navsOne}}
            </ul>
        </div>
    </div>
</div>
<div class='gv-slice nav-step-two' id="levelTwoNavHolder">
    <div class="gv-inner">
        <div class="gv-inner-content">
            <h5 id="navTwoTitle" str="{{{navTwoTitle}}}" class="section-header">&nbsp;</h5>
            <ul class="gv-nav-list gv-nav-list-two">
                {{#navsTwo}}
                <li class="nav-one-item nav-two-item unselected opacity-low" list-ref="{{{hed}}}" nav-level="L2"  target-cards-anon="{{#relatedCardsAnon}}---{{{.}}}{{/relatedCardsAnon}}" target-cards-conf="{{#relatedCardsConf}}---{{{.}}}{{/relatedCardsConf}}">
                    <div class="gv-nav-list-item">
                        <h5>{{{hed}}} </h5><span class="gv-nav-list-note-l2">{{{copy}}}</span></div>
                </li>
                {{/navsTwo}}
            </ul>
        </div>
    </div>
</div>


<div class='gv-slice nav-step-three inactive' id="cardsHolder">
    <div class="gv-inner gv-cards-wrapper">
        <div class="gv-inner-content">
            <div class="gv-cards-head-holder">
                <h5 id="allCardsTitle" class="section-header">{{{cardsTitle}}}&nbsp;</h5>
                <ul>
                    {{#cards}}
                    <li>
                        <div class="gv-chiclet unselected" card-ref="{{{hed}}}">{{{hed}}}</div>
                    </li>
                    {{/cards}}
                </ul>
            </div>
    
        </div>
    </div>
</div>


<div class='gv-slice nav-step-three-cards inactive' id="cardsHolder">
    <div class="gv-inner gv-cards-wrapper">
        <div class="gv-inner-content cards-content">
            
            <div class="gv-cards-holder">
                {{#cards}}

                <div class="gv-card inactive" card-ref="{{{hed}}}" id="cardHolder{{{hed}}}">
                  <!--   <div class="breaker solid-border"></div> -->
                   <!--  <div class="gv-card-left">
                        
                    </div> -->
                    <div class="breaker card"></div>
                        <div class="breaker card"></div>
                        <div class="breaker card"></div>
                        <div class="breaker card"></div>
                    <div class="gv-card-main">

                        <h4>{{{hed}}}</h4>
                        <div class="gv-read-less active" divData="{{{hed}}}">
                            <div class="gv-card-intro">
                            {{{introSentence}}}
                            </div>
                            <h6>Pros</h6>
                            <ul>
                                {{#pros}}
                                <li><span class="bullet">•</span><span class="gv-pros-cons-item">{{{.}}}</span></li> {{/pros}}
                            </ul>
                            <h6>Cons</h6>
                            <ul>
                                {{#cons}}
                                <li><span class="bullet">•</span><span class="gv-pros-cons-item">{{{.}}}</span></li> {{/cons}}
                            </ul>
                        </div>
                        <div class="gv-read-more inactive" div-ref="{{{hed}}}">
                            {{{formattedReadMore}}}
                        </div>
                        <div class="gv-read-more-btn show-more" target-div="{{{hed}}}">
                        </div>
                    </div>
                </div>
                {{/cards}}
            </div>
        </div>
    </div>
</div>


<div class='gv-slice cards-placeholder-head'>
    <div class="gv-inner gv-cards-wrapper">
        <div class="gv-inner-content">
            <div class="gv-cards-head-holder">
                <h5 class="gv-cards-heading">&nbsp;</h5>
                <ul>
                    {{#cards}}
                    <li>
                        <div class="gv-chiclet unselected  opacity-low" card-ref="{{{hed}}}">{{{hed}}}</div>
                    </li>
                    {{/cards}}
                </ul>
            </div>
     
        </div>
    </div>
</div>


<div class='gv-slice cards-placeholder-cards'>
    <div class="gv-inner gv-cards-wrapper">
        <div class="gv-inner-content cards-content">
            
            <div class="gv-cards-holder">
                {{#cards}}
                <div class="dummy-card opacity-low">
                </div>
                {{/cards}}
            </div>
        </div>
    </div>
</div>


</div>