.gv-back-top-button{
	position: fixed;
   	bottom: $gs-baseline;
   	left: 50%;
   	margin-left:-70px;
    width: gs-span(2);
    height: gs-height(1);


   	@include fs-textSans(3);
   	color: #fff;
   	text-align: center;
	background-color: $bg-main;
    cursor: pointer;
    
	bottom: 20px;
    border-radius: 1000px;
    
	background-image: url(./assets/up-arrow.svg);
    background-position: 6px center;
    background-repeat: no-repeat;
    background-size: 18px;

    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;

    span{
    	margin-top:6px;
    }

    a{
    	color:#FFF;
    	text-decoration:none;
    }
 } 

 .gv-back-top-button:hover{
 	background-color:$accent-main;
 }

 .gv-back-top-button-label{
 	position:absolute;
 	top:7px;
 	left:36px;
 }