.gv-cards-wrapper {
    background-color: white;
}

.gv-cards-head-holder {
    width: 100%;

    padding-bottom: $gs-gutter;


    @include mq(tablet) {
        width: $card-width-tablet;
    }
    @include mq(wide) {
        width: $card-width-wide;
    }


    @include mq(tablet){
        padding-bottom: gs-height(1);
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding:0;
        overflow:hidden;

        @include mq(tablet){
            padding:0 0 0 20px;
        }


    }
    li {
   
        float: left;

        margin-right: $gs-gutter;

    }
    .gv-chiclet {
        display: block;
        @include fs-textSans(3);
        line-height: 30px;
        color: #FFF;
        padding: $gs-baseline*0.5 3px $gs-baseline*0.5 0;
        margin: 0;
        border-radius: 1000px;
        
    }
    .selected,
    .unselected {
        background: none !important;
        color:  rgba($neutral-mid, 0.8);
    }
    .selected {
        color: $neutral-7;
        cursor: pointer;
    }
    .selected:hover {
        text-decoration: underline;
    }
    .unselected:before,
    .selected:before {
        content: ' ';
        margin: 0 6px 0 0;
        padding: 0;
        width: 30px;
        height: 30px;
        opacity: 0.5;
        background-image: url('<%= path %>/assets/cross.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 18px;
        float: left;
        background-color: $neutral-mid;
        border: none;
    }
    .selected:before {
        background-image: url('<%= path %>/assets/tick.svg');
        background-color: $active-fill;
        opacity: 1;
    }
}

.gv-card {
    position: relative;
    background-color: $inactive-fill;  
    margin: 0 0 gs-height(1) 0;
    padding-bottom: gs-height(1);

    @include mq(tablet){
        width: $card-width-tablet;
        margin: 0 0 gs-height(1)+$gs-baseline 20px;
        
    }

    @include mq(desktop){
        margin-left:172px;
        width: $card-width-wide;
    }

    @include mq(leftCol){
        margin-left:172px;
        width: $card-width-wide;
    }

    @include mq(wide){
        margin-left:252px;
        width: $card-width-wide;
    }


    // @include mq(tablet){
    //     width: $card-width-tablet;
    // }

    // @include mq(wide){
    //     width: $card-width-wide;
    // }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: $gs-baseline*0.5;
        margin-left: 0;
        @include fs-header(3);
        line-height:22px;
    }

    ul {
        margin: 0;
        list-style-type: none;
        padding-bottom: 3px;
        li {
            margin: 0 0 1px;
        }

        .gv-pros-cons-item{
            display:inline-block;
            width: calc(100% - 20px);
            margin-left: 15px;
            @include mq(tablet){
                 width: calc(100% - 80px);
            }
           
            // max-width: gs-span(6);
        }

        .gv-pros-cons-item:before{
            content:'';
            position: absolute;
            left: 11px;
            height:10px;
            width:10px;
            border-radius:1000px;
            margin-top:7px;
            background-color: $neutral-46;

        }
        .bullet{
            display:inline-block;
            vertical-align: top;
            margin-top: $gs-baseline*0.5;
        }
    }
}

// .gv-card:before {
//     content: " ";
//     position:absolute;
//     display: block;
//     height: 36px;
//     width: 2px;
//     background-color: $accent-main;
//     margin: 1px 0 0;
//     padding: 0;
// }

.gv-card-left {
    width: 100%;
    height: gs-height(1)+ $gs-baseline;
    padding:0 0 0 $gs-gutter*0.5;
    border: none;
    margin-top: -3px;
    float: left;
    
    @include mq(tablet){
        width: gs-span(2);
        padding: 0 0 0 $gs-gutter * 0.5;
    }
   
    
}

.gv-card-main {
        margin: 0 $gs-gutter*0.5;
    // @include mq(tablet){
    //     margin: 0 $gs-gutter 0 gs-span(2)+$gs-gutter;
    // }

   

    h4{
        padding: 0 0 0;
        margin-bottom: 0;
        
    }

    .gv-read-more, .gv-read-less{
        margin-right: 0;
        margin-bottom: $gs-baseline;
        @include mq(tablet){
           margin-right: gs-width(1); 
        }
    }

    .gv-card-intro {
        margin:0 0 $gs-baseline;
    }
    
}



// .gv-card-main:before{
//     content:'';
//     position:absolute;
//     height: 48px;
//     width:1px;
//     background-color:$neutral-7;
//     left: 240px;
//     margin-top:-14px;
//     display:none;

//     @include mq(desktop){
//         display:block;
//         left: 160px;
//     }

//     @include mq(wide){
//         display:block;
//         left: 240px;
//     }


// }

.dummy-card{

    height: gs-height(1);
    background-color: #EFEFEF;

    margin: 0 0 gs-height(1) 0;
    padding-bottom: $gs-baseline;


    @include mq(tablet){
        width: $card-width-tablet;
    }

    @include mq(leftCol){
        margin-left:160px;
        width: $card-width-wide;
    }

    @include mq(wide){
        margin-left:260px;
        width: $card-width-wide;
    }
}




// .dummy-card:before {
//     content: " ";
//     display: block;
//     height: 3px;
//     width: gs-span(1);
//     background-color: $neutral-mid;
//     margin: 0;
//     padding: 0;
// }