$card-width-mobile:gs-span(4);
$card-width-tablet:gs-span(9);
$card-width-wide:gs-span(9);
$card-left-padding: $gs-gutter*0.5;
$border-color:rgba($neutral-7, 0.2);
$ani-time:0.8s;
$aniOneTime:3s;
$aniOneStartOp:0;
$aniOneEndOp:0.1;

h4,
h5 {
    @include fs-header(2);
    // // padding-top: $gs-gutter;
    // padding-bottom: $gs-baseline;
    font-weight:500;
}

.gv-head-slice {
    h4{
    position: absolute;
    top: 0;
    left: -220px;
}
    // padding-bottom: 0;
    // background: $guardian-brand-darkest; 
}

.headline-wrapper{
    position:relative;
    display:block;
    width: 280px;
    @include mq(tablet){
        width:480px;
    }
}

.gv-head-title{
    display:inline;
    padding: 0 20px 10px 10px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    z-index: 2;
    background-color: $neutral-7;
    font-family: "Guardian Headline","Guardian Egyptian Web",Georgia,serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: $accent-main;

    @include mq(tablet){
        font-size: 50px;
        line-height: 62px;
        width:480px;
    }
}

.gv-head-inner {
    position:relative;
    padding: 0;
    overflow:hidden;
    @include mq(tablet) {
        // padding: gs-height(3) 0 0;
    }
    @include mq(wide) {
        // padding: gs-height(5) 0 0;
    }
    // background-color: $guardian-brand-darkest !important;
}


.standy-wrapper{
    position:relative;
    max-width: 360px;
    padding-top:18px;

    @include mq(tablet){
        max-width: 460px;
    }

    @include mq(desktop){
        max-width: 580px;
        padding-top:24px;
    }
    // display:block;
}

.nav-one-inner {
    h5 {    
        color: $neutral-light !important;
        // @include mq(mobileLandscape) {
        //     padding-left: $card-left-padding;
        // }
    }
}

.head-slice{
    float:left;
}


.header-bg-circle{
    background-color: $accent-main;
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: 0;
    height: 232px;
    width: 232px;
    top: 148px;
    left: 180px;

    @include mq(mobileLandscape) {
        left: 240px;
    }
    @include mq(tablet) {
        height: 340px;
        width: 340px;
        top: -20px;
        left: 370px;
    }
    @include mq(desktop) {
        height: 472px;
        width: 472px;
        top: -36px;
        left: 500px;
    }
    // @include mq(leftCol) {
    //     left: 650px;
    // }
    @include mq(wide) {
        left: 740px;
    }

}

.header-bg-img{
    display: block;
    position: absolute;
    height: 100%;
    width: 500px;
    top: 60px;
    left: 180px;
    background-image: url('<%= path %>/assets/papers.png');
    background-repeat: no-repeat;
    background-size:contain;


    @include mq(mobileLandscape) {
        top: 0;
        left: 240px;
    }
    @include mq(tablet) {
        width: 320px;
        left: 370px;
    }
    @include mq(desktop) {
        width: 360px;
        left: 520px;
        background-size:cover;
    }
    @include mq(leftCol) {
        width: 480px;
    }
    @include mq(wide) {
        width: 480px;
        left: 740px;
    }
}

.gv-img-holder{
    position:absolute;
    top: 0;
    width:100%;
    max-width: 1300px;
    height:600px;
   // opacity:$aniOneEndOp;
}


@keyframes aniOne {
    from {
        opacity:$aniOneStartOp;
    }
    to {
        opacity:$aniOneEndOp;
    }
}
@-moz-keyframes aniOne { /* Firefox */
    from {
        opacity:$aniOneStartOp;
    }
    to {
        opacity:$aniOneEndOp;
    }
}
@-webkit-keyframes aniOne { /* Safari and Chrome */
    from {
        opacity:$aniOneStartOp;
    }
    to {
        opacity:$aniOneEndOp;
    }
}
@-o-keyframes aniOne { /* Opera */
    from {
        opacity:$aniOneStartOp;
    }
    to {
        opacity:$aniOneEndOp;
    }
}

.gv-standfirst {
    // background-color: rgba(#000, 0.6);
    width: 100%;
    padding: gs-height(2) 0 gs-height(1);
    @include mq(tablet) {
        width: $card-width-tablet;
        padding: gs-height(2) 0 gs-height(2);  
    }
    @include mq(wide) {
        width: $card-width-wide;
    }
    p,
    h1,
    h4 {
        margin-top: 0;
        padding-left: $card-left-padding;
        color: #FFF;
    }
    h1 {
        @include fs-headline(7);
        color: $neutral-7;
        @include mq(tablet) {
            @include fs-headline(9);
                background-color: #ffe500;
            padding: 0 5px 4px 10px;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;
            position: relative;
            z-index: 2;
        }
        
    }
    h4{
        display: inline;
        background-color: $accent-main;
        color:$neutral-7;
        padding-right:10px;
    }

    p {
        margin-right: gs-span(1);
        @include fs-headline(3);
        font-style:italic;
        color: $neutral-7;
        padding-left:0;
        @include mq(tablet) {
            margin-right: gs-span(2);
            @include fs-headline(3);
            font-style:italic;

        }
        @include mq(desktop){
            padding-left:$gs-gutter*0.5;
        }
    }
}

.gv-inner {
    // background-color: white;
}

.gv-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    @include mq(tablet) {
        width: $card-width-tablet;
    }
    @include mq(wide) {
        width: $card-width-wide;
    }
    li {
        float: left;
        width: 100%;
        height: gs-height(2);
        margin-bottom: $gs-baseline;
        @include mq(tablet) {
            width: calc(49.9% - 10px);
            max-width: none;
        }
    }
    li:first-child {
        margin-right:20px;
        // border-right: 1px solid $border-color;
    }
    .gv-nav-list-item {
        display: block;
        text-align: left;
        margin: 0  60px $gs-baseline*2 $gs-gutter*0.5;
        padding: $gs-baseline*0.5 $gs-baseline*0.5 0 0;
        text-decoration: none;
        @include fs-header(3);
        line-height:22px;
        height: 45px;
        border-right: 1px solid $border-color;
        h5 {
            display: block;
            margin: 0;
            padding-bottom: 0;
            min-height: none;
            @include mq(tablet) {
                padding-bottom: $gs-baseline;
                min-height: 48px;
            }
        }
    }

    @include mq(desktop){
        margin: 0 0 0 12px;
        }
}

.gv-nav-list-two {
    li:first-child {
        border: 0;
    }
    li {
        float: left;
        width: 100%;
        height: gs-height(2);
        // padding-bottom: $gs-baseline;
        margin-right: $gs-gutter;
        border: none;
        @include mq(tablet) {
            width: gs-span(3);
            height: gs-height(3);
        }
    }
    li:last-child {
        margin-right: 0;
    }
}

.gv-nav-list-note {
    margin-top: 8px;
    @include fs-bodyCopy(1);
    line-height:18px;
    font-weight: 400;
    color: #FFF;
    width: 100%;
    display: block;
}

.gv-nav-list-note-l2 {
    position: relative;
    @include fs-bodyCopy(1);
    line-height:18px;
    font-weight: 400;
    color: #FFF;
    width: 100%;
    display: block;
    margin: 8px 0 0 0;
    @include mq(tablet) {
        position: absolute;
        top: 96px;
        width: gs-span(3)-$gs-baseline;
        margin: 12px 0 0 0;
    }
}

.nav-step-one {
    h5 {
        color: #FFF;
    }
}

.nav-one-item {
    cursor: pointer;
}

.show-more {
    background-image: url('<%= path %>/assets/plus.svg');
    background-position: 6px center;
    background-repeat: no-repeat;
    background-size: 18px;
    background-color:$active-fill;
    width: gs-span(2)+$gs-baseline !important;

}




.show-more:before, .show-less:before{
    content:'read full instructions';
}

.show-less:before {
    content:'show less';
    
}


.right-arrow {
    background-image: url('<%= path %>/assets/arrow-right.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 24px;
    margin-right: 6px;
}

.left-arrow {
    background-image: url('<%= path %>/assets/arrow-right.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 24px;
    margin-right: 6px;
}

.selected {
    background-color: $accent-main;
    color: $neutral-7;
    h5,
    span {
        color: $neutral-7;
    }
}

.unselected {
    color: rgba($neutral-mid, 0.8);
    background-color: $inactive-fill;
    h5,
    span {
        color: rgba($neutral-mid, 0.8);
    }
}

.unselected:before,
.selected:before {
    content: ' ';
    margin: 9px 12px;
    width: 36px;
    height: 36px;
    opacity: 0.5;
    border-radius: 1000px;
    border: 1px solid $neutral-46;
    background-image: url('<%= path %>/assets/arrow-right.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 33px;
    float: right;
}

.selected:before {
    background-image: url('<%= path %>/assets/arrow-down.svg');
    opacity: 1;
}


.opacity-low{
    opacity:0.3;
    background-color: $inactive-fill;
    pointer-events:none;
}

.opacity-up{
    opacity: 1;
    transition: opacity $ani-time ease-out;
    -ms-transition: opacity $ani-time ease-out;
    -moz-transition: opacity $ani-time ease-out;
    -webkit-transition: opacity $ani-time ease-out;
}

.active-none-mobile{
    display:none;

        @include mq(tablet){
            display:block;
        }
}

.gv-read-more-btn {
    position: absolute;
    height: 18px;
    margin: 18px 0;
    padding: 6px 0 6px 36px;
    border-radius: 1000px;
    width: gs-span(1)+$gs-gutter;
    text-align: left;
    @include fs-textSans(3);
    color:$neutral-7;
    cursor: pointer;
}

.show-less {
    background-image: url('<%= path %>/assets/cross.svg');
    background-position: 6px center;
    background-repeat: no-repeat;
    background-size: 18px;
    color: #FFF;
    background-color:$neutral-7;
}
