$globalAniTime: 0.5s;
$globalStartYPos: 150px;



//Slice 1
.head-slice-1 {
    opacity: 0;
    //margin-top: $sliceOneStartY;
    -webkit-animation: sliceAniOne $globalAniTime forwards;
       -moz-animation: sliceAniOne $globalAniTime infinite;
        -ms-animation: sliceAniOne $globalAniTime infinite;
         -o-animation: sliceAniOne $globalAniTime infinite;
            animation: sliceAniOne $globalAniTime forwards;
            // animation-delay: $sliceAniOneDelay;
}




@keyframes fadeinOne{
    0% { opacity:0; }
    16% { opacity:1; }
    100% { opacity:1; }
}
@keyframes fadeinTwo{
    0% { opacity:0; }
    32% { opacity:1; }
    100% { opacity:1; }
}
@keyframes fadeinTwo{
    0% { opacity:0; }
    48% { opacity:1; }
    100% { opacity:1; }
}
@keyframes fadeinTwo{
    0% { opacity:0; }
    64% { opacity:1; }
    100% { opacity:1; }
}
@keyframes fadeinTwo{
    0% { opacity:0; }
    72% { opacity:1; }
    100% { opacity:1; }
}
@keyframes fadeinSix{
    0% { opacity:0; }
    86% { opacity:1; }
    100% { opacity:1; }
}






