.header-bg-img{
    display: block;
    position: absolute;


    &.one{
    	height: 132px;
	    width: 220px;
	    bottom: 0;
	    right: -70px;
	    background-image: url('<%= path %>/assets/headZuckerberg.png');
	    background-repeat: no-repeat;
	    background-size: contain;

	    @include mq(desktop) {
	        height: 270px;
	    	width: 405px;
	        left: 720px;
	    }
    }

    &.two{
    	height: 54px;
	    width: 90px;
	    bottom: 0px;
	    right: 154px;
	    background-image: url('<%= path %>/assets/headSnowden.png');
	    background-repeat: no-repeat;
	    background-size:contain;


	    
	    @include mq(desktop) {
	        height: 150px;
	    	width: 250px;
	    	top:54px;
	        left: 800px;
	    }
    }


    &.three{
    	height: 60px;
	    width: 100px;
	    bottom: 136px;
	    right: -40px;
	    background-image: url('<%= path %>/assets/headHamilton.png');
	    background-repeat: no-repeat;
	    background-size:contain;



	    @include mq(desktop) {
	        height: 204px;
	    	width: 341px;
	    	top:0px;
	        left: 1056px;
	    }
    }

   	&.four{
    	height: 72px;
	    width: 120px;
	    bottom: 200px;
	    right: -40px;
	    background-image: url('<%= path %>/assets/headCameron.png');
	    background-repeat: no-repeat;
	    background-size:contain;



	    @include mq(desktop) {
	        height: 150px;
	    	width: 250px;
	    	top:210px;
	        left: 1133px;
	    }
    }
    
}


.header-bg-tint{
    background-color: $accent-main;
    // display: none;
    position: absolute;
    z-index: 1;
    opacity: 0.75;

    @include mq(wide) {
		    	display: block;
	}
   

    &.one{
    	 	height: 30px;
		    width: 50px;
		    bottom: 116px;
		    right: 130px;
			

		    @include mq(desktop) {
		            height: 150px;
				    width: 270px;
				    top: 240px;
				    left:951px;
		    }

    }

    &.two{
    	 	height: 30px;
		    width: 50px;
		    bottom: 258px;
		    right: -20px;
			

		    @include mq(desktop) {
		            width: 150px;
		            height: 90px;
		    		top: 160px;
    				left: 1310px;
		    }

    }


    &.three{
    	 	height: 30px;
		    width: 50px;
		    bottom: 10px;
		    right: 220px;
			
		    @include mq(desktop) {
		            width: 100px;
		            height: 60px;
		    		top: 330px;
    				left: 1310px;
		    }

    }


    &.four{
    	 	height: 30px;
		    width: 50px;
		    bottom: 40px;
		    right: 130px;
		    opacity: 0.5;
			
		    @include mq(desktop) {
		        height: 72px;
			    width: 120px;
			    top: 20px;
			    left: 1123px;
		    }

    }


    &.five{
    	 	height: 45px;
		    width: 75px;
		    bottom: 10px;
		    right: -12px;
		    opacity: 0.5;
			
		    @include mq(desktop) {
		        height: 135px;
			    width: 220px;
			    top: 20px;
			    left: 768px;
		    }

    }


    &.six{
    	 	height: 45px;
		    width: 75px;
		    bottom: 144px;
		    right: 60px;
		    opacity: 0.75;

		    @include mq(desktop) {
		        height: 120px;
			    width: 200px;
			    top: 270px;
			    left: 700px;
		    }

    }
   

}
