.header-slice{
	background: rgba($bg-main,0.9) !important;
	color:white;
	
	.gv-inner{
		padding:$gs-baseline 0 0;
		background: $bg-main;

		@include mq(tablet) {
	        // padding:gs-height(2) 0 $gs-baseline;
	    }

		h1{
			@include fs-headline(9);
			font-weight: 200;
			color: $accent-main;
			margin:0 0 $gs-baseline ;

			@include mq(tablet) {
		        font-size:60px;
		        margin:$gs-baseline 0;
		    }

		}

		h5{
			color: #FFF;
		}

		p{
			@include fs-headline(4);
			font-weight:200;
			color: #FFF;
			max-width: 460px !important;
		}

	}
}

.standfirst-slice{
	background: rgba($accent-main,0.4) !important;
	color:#FFF;

	.gv-inner{
		padding:gs-height(1) 0 $gs-baseline*0.5;
		background:  rgba($accent-main,0.7) !important;
	}


	p{
	
		max-width: 460px !important;
		@include fs-headline(3);
		font-weight:200;
		@include mq(tablet){
			@include fs-headline(4);
			
			
		}
		
	}


}

.standy-two{

	.gv-inner{
		padding:$gs-baseline 0 gs-height(1);
	}

	
}

.standy-bg-img{
	.gv-inner-content::before {
	   content: " ";
	   position:absolute;
	   top:-36px;
	   margin-left:560px;
	   width: 513px;
	   height: 520px;
	   z-index: 1000;
	   background-image: url('<%= path %>/assets/front-page-comp.png');
	   background-repeat:no-repeat;
	   background-blend-mode: multiply;
	   display:none;

	   @include mq(desktop){
	   		display:block;
	   }

	   

	}
}



.nav-slice{
	margin:$gs-baseline 0 ;
	background: rgba($accent-main,0.45) !important;
	color:white;

	ul{		
		width:100%;
		list-style-type: none;
		margin: $gs-baseline*0.5 0;
	}

	li{
		display:inline-block;
		padding:4px $gs-baseline 2px;
		margin: $gs-baseline*0.5 $gs-gutter*0.5  $gs-baseline*0.5 0;
		height:21px;
		border: 1px solid #FFF;
		border-radius: 100px;
		@include fs-textSans(3);
		text-align:center;
		cursor:pointer;
		background-color:none;

		@media(min-width:740px){
			margin: 0 $gs-gutter*0.5 0 0;
			display:inline-block;
			width:auto;
		}

		a{
			text-decoration: none;
			color:#FFF;
		}	
	}

	li:hover{
		background-color:$bg-main;
		border: 1px solid $bg-main;
		
	}	

	.gv-inner{
		height:auto;
		background: $accent-main;

		a{
			text-decoration:none;
		}
	}

	h5{
		color: #FFF;
	}
}


.nav-slice-fixed{
	position:fixed;
	top:0;
	background: transparent !important;
}



.support-slice{
	//background: rgba($accent-main,0.4) !important;
	color:$neutral-1;
	
	.gv-inner{
		// padding: $gs-baseline 0;
		//background: rgba($accent-main,0.75);

		h1, h2, h3, h4, h5{
			// color: $neutral-1;	
		}

		p{
			// color: $neutral-1;	
			max-width: 460px;
		}

	}

	

	ul{		
		width:100%;
		margin:0 0 $gs-gutter 0;
	}

	li{
		display: block;
		padding:$gs-baseline*0.5 0;
		margin: $gs-baseline*0.5 $gs-gutter*0.5  $gs-baseline*0.5 $gs-gutter;
		height:gs-height(1);


		@include fs-textSans(3);
		text-align:left;


			@media(min-width:740px){

				width:auto;
			}

	}

	@mixin childIndex($n) {
	  &:nth-child(#{$n}){
	    content:$n;
	  }
	}

	li:nth-child(n)::before{
		  content:'1';
	      display: inline-block;
		  height: $gs-gutter;
		  width: $gs-gutter;
		  margin-left: 0-$gs-gutter;
		  float: left;
		  
		  @include fs-headline(5);
			font-weight:200;
			text-align: center;
		
	}

	li:nth-child(2)::before{
		  content:'2';
	}

	li:nth-child(3)::before{
		  content:'3';
	}	


	.list-txt{
		float: left;
		margin-left:$gs-gutter*0.5;
		max-width: gs-span(3)+10;
	}

}


.support-slice, .gv-in-copy{
	button{
		display:inline-block;
		padding: 0px 12px;
	    margin: 0px 3px 0 0;
	    height: 21px;
	    background-color:$accent-main;
		color:#FFF;
		border: 1px solid $accent-main;
	    border-radius: 100px;
	    @include fs-textSans(3);
	
	    text-align: center;
	    cursor: pointer;

	    a{
	    	color:#FFF;
	    	text-decoration: none;
	    }
	

		// background-image: url('<%= path %>/assets/arrow-right.svg');
	 //    background-position: right center;
	 //    background-repeat: no-repeat;
	 //    background-size: 24px;
	 //    margin-right: 6px;
	}

	button:hover{
		background-color:$bg-main;
		border: 1px solid $bg-main;
		
	}
}