@import "mq";
@import "fonts";
@import "grid";
@import "palette";

//define global colors
$bg-main:  $guardian-brand-dark;

$bg-secondary:  $guardian-brand-light;
$accent-main: $news-main-2;
$active-fill:$accent-main;
$inactive-fill:$news-support-6;
$link-fill:$guardian-brand;
$light-neutral: rgba($news-support-6, 0.18);
$neutral-dark: $neutral-1;

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";



button:focus {
	outline:0 !important;
}


h2{
	@include fs-header(4);
	color: $neutral-1;
	padding-top:3px;
}

h4, h5{
	@include fs-bodyHeading(3);
	color: $neutral-1;
}

.element-atom,
.interactive-atom {
    margin: 0 !important;
    background:#FFF;
    margin-bottom: 0 !important;
    @include mq(tablet){
    	margin-bottom: 0 !important;
    }
}

.gv-slice {
	width:100%;
	margin:0 auto;
	background:#FEFEFE;
}

.gv-inner, .nav-slice-inner{
	max-width:620px;
	margin: 0;
	padding:$gs-baseline 0;
	background: #FFF;

	@media(min-width:480px){

	}
	@media(min-width:740px){
		margin:0 auto;	
		padding: $gs-baseline 0;
		max-width:740px;
	}
	@media(min-width:980px){
		max-width:980px;
	}
	@media(min-width:1140px){
		max-width:1140px;
	}
	@media(min-width:1300px){
		max-width:1300px;
	}
}




.gv-section-title {
	width:100%;
	float:none;
	margin: 0 0 0 $gs-gutter;
	@media(min-width:1140px){
		max-width: 140px;
		float: left;
	}
	@media(min-width:1300px){
		max-width: 220px;
		float: left;
	}

	// h2, h3 {
	// 		@include fs-header(5);
	// 	}
}

.gv-inner-content{
	position:relative;
	margin: 0;
	padding: 0 $gs-gutter*0.5;

	@include mq(tablet){
		margin: 0 $gs-gutter;	
		padding: 0;
	}	

	@include mq(desktop){
			margin-left:160px;
		}
	@include mq(wide){
			margin-left:240px;
		}

	p, h2, h3 {
	    	max-width: 620px;
	 	}

	
}

.inactive{
	display: none;
}

active{
	display: block;
}




// Project specific imports

@import "custom";
@import "cards";
// @import "backTopButton";