@import "mq";
@import "fonts";
@import "grid";
@import "palette";


//define global colors
$highlight-blue: #00b2ff;
$bg-main:  $neutral-86;
$guardian-brand-darkest: hsl(204,100%,18%);
$bg-secondary:  $neutral-60;
$accent-main: $highlight-yellow;

$active-fill:$accent-main;
$inactive-fill:$neutral-96;
$link-fill:$accent-main;
$neutral-light: $neutral-7;
$neutral-mid: $neutral-46;
$neutral-dark: $neutral-96;

$border-color: $neutral-60;


// Uncomment for embeds
//@import "embed";

//Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    overflow: hidden;
}

.page-wrapper{
	position: relative;
	width:100%;
	margin: auto;
	padding: 0 0 30px;
	@include mq(desktop){
		max-width:980px;
	}

	@include mq(leftCol){
		max-width:1140px;
	}

	@include mq(wide){
		max-width:1300px;
	}


	
}

.page-wrapper::before {
    content: '';
    display: block;
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    @include mq(desktop){
	    left: 160px;
	    border-right: 1px solid  $border-color;
	}


	@include mq(wide){
	    left: 240px;
	}

}


button:focus {
	outline:0 !important;
}

h2{
	@include fs-header(4);
	color: $neutral-dark;
	padding-top:3px;
}

h4, h5{
	// padding-left: 20px;
	@include fs-bodyHeading(3);
	color: $neutral-7;
}
.section-header{
	padding: $gs-baseline 0;
	color: $neutral-7;
	@include mq(desktop){
		padding-left:13px;
	}
}
.section-header:before{
	content:'';
	position: absolute;
	top:18px;
	left:-5px;
	height:12px;
	width:12px;
	background-color:$neutral-7;
	border-radius:200px;
	display: none;

	@include mq(desktop){
		display:block;
	}
	
}

.element-atom,
.interactive-atom {
    margin: 0 !important;
    background:#FFF;
    margin-bottom: 0 !important;
    @include mq(tablet){
    	margin-bottom: 0 !important;
    }
}

.gv-slice {
	width:100%;
	margin:0 auto;
}

.gv-inner, .nav-slice-inner{
	max-width:620px;
	margin: 0;
	//padding:$gs-baseline 0;
	// background: #FFF;

	@media(min-width:480px){

	}
	@media(min-width:740px){
		margin:0 auto;	
		//padding: $gs-baseline 0;
		max-width:740px;
	}
	@media(min-width:980px){
		max-width:980px;
	}
	@media(min-width:1140px){
		max-width:1140px;
	}
	@media(min-width:1300px){
		max-width:1300px;
	}
}

.gv-section-title {
	width:100%;
	float:none;
	margin: 0 0 0 $gs-gutter;
	@media(min-width:1140px){
		max-width: 140px;
		float: left;
	}
	@media(min-width:1300px){
		max-width: 220px;
		float: left;
	}

	// h2, h3 {
	// 		@include fs-header(5);
	// 	}
}

.gv-inner-content{
	position:relative;
	margin: 0;
	padding: 0 $gs-gutter*0.5;

	@include mq(tablet){
		margin: 0 $gs-gutter;	
		padding: 0;
	}	

	@include mq(desktop){
			margin-left:160px;
		}
	@include mq(wide){
			margin-left:240px;
		}

	p, h2, h3 {
	    	max-width: 620px;
	 	}



	&.cards-content{
		margin:0;
		border:none;
	}
}

.inactive{
	display: none;
}

active{
	display: block;
}


.l-footer {
    display: block !important; 
    position: relative;
}


.breaker {
    border-top: 1px dotted $border-color;
    margin-bottom: 3px;
    width: 200vw;
    margin-left: -100%;

    &--short {
        @include mq(mobile) {
            display: none;
        }

        @include mq(leftCol) {
            display: block;
            width: 140px;
            margin-left: 0px;
        }

        @include mq(wide) {
            width: 220px;
        }
    }

    &.solid-border{
    	border-top: 1px solid $border-color;
    }

    &.card{
    	width:100%;
    	margin-left: 0;
    	border-top: 1px solid $border-color;
    }
}

.share-buttons {
	@include mq(mobile) {
		position: relative;
		padding-top: 10px;
		padding-bottom: 40px;
		margin-left: 10px;
	}

	@include mq(tablet) {
		position: relative;
		padding-top: 10px;
		padding-bottom: 40px;
		margin-left: 20px;
	}

	@include mq(leftCol) {
		padding-top: 0;
		padding-bottom: 0;
		top: 272px;
		position: absolute;
		left: 10px;
		margin-left: 0;
	}

	@include mq(wide) {
		top: 272px;
	}

	img {
		display: inline;
		height: 32px;
		cursor: pointer;
    	margin-top: 6px;
	}

	a {
		color:$neutral-7;
		text-decoration: none;
	}
}


// Project specific imports

@import "custom";
@import "cards";
@import "headAnimate";
@import "eyes";

// @import "backTopButton";


